Serilog:
  MinimumLevel:
    Default: "Information"
    Override:
      Microsoft: "Warning"
      Microsoft.AspNetCore: "Warning"
      Microsoft.AspNetCore.Hosting: "Information"
      Microsoft.Hosting.Lifetime: "Information"
      System: "Warning"

Analytics:
  Service:
    Name: "Analytics"
